.photos-al {
  display: flex; /* অথবা display: grid; */
  justify-content: center;
}

.photos {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* ৩ কলামের গ্রিড */
  gap: 10px;
  width: 80%; /* ছবির কন্টেইনারের প্রস্থ */
}

.photos img {
  width: 100%;
  height: auto;
  border-radius: 5px;
}
