.photos-al{
    display: grid;
    justify-content: center;
}

.photos{
  display: grid;  
  grid-template-columns: repeat(3,1fr);
  gap: 20px;
  width: 80%;
}
.photos img{
    width: 100%;
    height: auto;
    border-radius: 5px;
}